<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Apuestas de Baloncesto</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="topnav">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de Blose" class="logo">
                <h1>Blose</h1>
            </div>
            <nav class="nav-links">
                <button class="nav-btn" onclick="window.location.href='/'">Inicio</button>
                <button class="nav-btn" onclick="window.location.href='/futbol'">Fútbol</button>
                <button class="nav-btn" onclick="window.location.href='/baloncesto'">Baloncesto</button>
                <button class="nav-btn" onclick="window.location.href='/tenis'">Tenis</button>
                <button class="nav-btn" onclick="window.location.href='/hipica'">Hípica</button>
            </nav>
            <div class="auth-buttons">
                {% if usuario %}
                    <!-- Mostrar información del usuario cuando ha iniciado sesión -->
                    <div class="user-menu">
                        <span class="user-name">Bienvenido, {{ usuario['username'] }} &#x25BC;</span> <!-- Unicode para flecha hacia abajo -->
                        <div class="user-dropdown">
                                <a href="/perfil">Mi Perfil</a>
                                <a href="/balance">Balance: {{ usuario['balance'] }}€</a>
                                <a href="/logout">Cerrar Sesión</a>
                        </div>
                    </div>

                {% else %}
                    <!-- Mostrar botones de inicio de sesión y registro si el usuario no está autenticado -->
                    <button onclick="window.location.href='/login'" class="auth-btn" id="login-btn">Iniciar Sesión</button>
                    <button onclick="window.location.href='/register'" class="auth-btn" id="register-btn">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="contenido">
        <div class="apuestas" id="apuestas">
            <h2>Apuestas NBA</h2>
            <!-- Partido 1 -->
            <div class="bet-container">
                <h3>Partido 1: Los Angeles Lakers - Golden State Warriors</h3>
                <p>¿Quién ganará el partido?</p>
                <label for="betAmount1">Cantidad a apostar:</label>
                <input type="number" id="betAmount1" required>
                <button class="bet-option" onclick="enviarApuesta('Los Angeles Lakers - Golden State Warriors', 'Gana Lakers', document.getElementById('betAmount1').value)">Gana Lakers</button>
                <button class="bet-option" onclick="enviarApuesta('Los Angeles Lakers - Golden State Warriors', 'Empate', document.getElementById('betAmount1').value)">Empate</button>
                <button class="bet-option" onclick="enviarApuesta('Los Angeles Lakers - Golden State Warriors', 'Gana Warriors', document.getElementById('betAmount1').value)">Gana Warriors</button>
            </div>

            <!-- Partido 2 -->
            <div class="bet-container">
                <h3>Partido 2: Brooklyn Nets - Miami Heat</h3>
                <p>¿Quién ganará el partido?</p>
                <label for="betAmount2">Cantidad a apostar:</label>
                <input type="number" id="betAmount2" required>
                <button class="bet-option" onclick="enviarApuesta('Brooklyn Nets - Miami Heat', 'Gana Nets', document.getElementById('betAmount2').value)">Gana Nets</button>
                <button class="bet-option" onclick="enviarApuesta('Brooklyn Nets - Miami Heat', 'Empate', document.getElementById('betAmount2').value)">Empate</button>
                <button class="bet-option" onclick="enviarApuesta('Brooklyn Nets - Miami Heat', 'Gana Heat', document.getElementById('betAmount2').value)">Gana Heat</button>
            </div>

            <!-- Partido 3 -->
            <div class="bet-container">
                <h3>Partido 3: Chicago Bulls - Boston Celtics</h3>
                <p>¿Quién ganará el partido?</p>
                <label for="betAmount3">Cantidad a apostar:</label>
                <input type="number" id="betAmount3" required>
                <button class="bet-option" onclick="enviarApuesta('Chicago Bulls - Boston Celtics', 'Gana Bulls', document.getElementById('betAmount3').value)">Gana Bulls</button>
                <button class="bet-option" onclick="enviarApuesta('Chicago Bulls - Boston Celtics', 'Empate', document.getElementById('betAmount3').value)">Empate</button>
                <button class="bet-option" onclick="enviarApuesta('Chicago Bulls - Boston Celtics', 'Gana Celtics', document.getElementById('betAmount3').value)">Gana Celtics</button>
            </div>
        </div>

        <div class="sidebar">
            <h2>Tus Apuestas</h2>
            <ul class="selected-bets" id="selectedBetsList"></ul>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>