<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Apuestas de Futbol</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="topnav">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de Blose" class="logo">
                <h1>Blose</h1>
            </div>
            <nav class="nav-links">
                <button class="nav-btn" onclick="window.location.href='/'">Inicio</button>
                <button class="nav-btn" onclick="window.location.href='/futbol'">Fútbol</button>
                <button class="nav-btn" onclick="window.location.href='/baloncesto'">Baloncesto</button>
                <button class="nav-btn" onclick="window.location.href='/tenis'">Tenis</button>
                <button class="nav-btn" onclick="window.location.href='/hipica'">Hípica</button>
            </nav>
            <div class="auth-buttons">
                {% if usuario %}
                    <!-- Mostrar información del usuario cuando ha iniciado sesión -->
                    <div class="user-menu">
                        <span class="user-name">Bienvenido, {{ usuario['username'] }} &#x25BC;</span> <!-- Unicode para flecha hacia abajo -->
                        <div class="user-dropdown">
                                <a href="/perfil">Mi Perfil</a>

                                <a href="/logout">Cerrar Sesión</a>
                        </div>
                    </div>

                {% else %}
                    <!-- Mostrar botones de inicio de sesión y registro si el usuario no está autenticado -->
                    <button onclick="window.location.href='/login'" class="auth-btn" id="login-btn">Iniciar Sesión</button>
                    <button onclick="window.location.href='/register'" class="auth-btn" id="register-btn">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="apuestas" id="apuestas">
        <h2>Apuestas para el <span id="match-title">Partido XYZ</span></h2>
        <div class="bet-container">
            <!-- Tarjeta de apuesta 1 -->
            <div class="bet-card">
                <h2>Resultado del Partido</h2>
                <p>¿Quién ganará?</p>
                <button class="bet-option" data-bet="Equipo A gana">Apuesta por el Equipo A</button><br><br>
                <button class="bet-option" data-bet="Equipo B gana">Apuesta por el Equipo B</button><br><br>
                <button class="bet-option" data-bet="Empate">Apuesta por el Empate</button>
            </div>

            <!-- Tarjeta de apuesta 2 -->
            <div class="bet-card">
                <h2>Número de Goles</h2>
                <p>¿Cuántos goles se marcarán en el partido?</p>
                <button class="bet-option" data-bet="Menos de 2.5 Goles">Menos de 2.5 Goles</button><br><br>
                <button class="bet-option" data-bet="Más de 2.5 Goles">Más de 2.5 Goles</button>
            </div>

            <!-- Tarjeta de apuesta 3 -->
            <div class="bet-card">
                <h2>Primer Gol</h2>
                <p>¿Quién marcará el primer gol?</p>
                <button class="bet-option" data-bet="Equipo A marca primero">Equipo A</button><br><br>
                <button class="bet-option" data-bet="Equipo B marca primero">Equipo B</button><br><br>
                <button class="bet-option" data-bet="Nadie (0-0)">Nadie (0-0)</button>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <h2>Tus Apuestas</h2>
        <ul class="selected-bets" id="selectedBetsList">
            <li>No has seleccionado ninguna apuesta aún.</li>
        </ul>
        <button id="submitBets" onclick="submitBets()">Hacer Apuesta</button>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
