<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Blose - Tu Casa de Apuestas</title>

</head>
<body>

    <!-- Header -->
    <header>
        <div class="topnav">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de Blose" class="logo">
                <h1>Blose</h1>
            </div>
            <nav class="nav-links">
                <button class="nav-btn" onclick="window.location.href='/'">Inicio</button>
                <button class="nav-btn" onclick="window.location.href='/futbol'">Fútbol</button>
                <button class="nav-btn" onclick="window.location.href='/baloncesto'">Baloncesto</button>
                <button class="nav-btn" onclick="window.location.href='/tenis'">Tenis</button>
                <button class="nav-btn" onclick="window.location.href='/hipica'">Hípica</button>
            </nav>
            <div class="auth-buttons">
                {% if usuario %}
                    <!-- Mostrar información del usuario cuando ha iniciado sesión -->
                    <div class="user-menu">
                        <span class="user-name">Bienvenido, {{ usuario['username'] }} &#x25BC;</span> <!-- Unicode para flecha hacia abajo -->
                        <div class="user-dropdown">
                                <a href="/perfil">Mi Perfil</a>
                                <p>Balance: {{ usuario['balance'] }} €</p>
                                <a href="/logout">Cerrar Sesión</a>
                        </div>
                    </div>

                {% else %}
                    <!-- Mostrar botones de inicio de sesión y registro si el usuario no está autenticado -->
                    <button onclick="window.location.href='/login'" class="auth-btn" id="login-btn">Iniciar Sesión</button>
                    <button onclick="window.location.href='/register'" class="auth-btn" id="register-btn">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </header>


    <main>


        <a href="/futbol" class="section-link">
            <section class="futbol" id="futbol">
                <h2>Fútbol</h2>
                <p>Consulta los partidos más recientes y realiza tus apuestas.</p>
            </section>
        </a>

        <a href="/baloncesto" class="section-link">
            <section class="baloncesto" id="baloncesto">
                <h2>Baloncesto</h2>
                <p>Encuentra información sobre los próximos partidos y más.</p>
            </section>
        </a>

        <a href="/tenis" class="section-link">
            <section class="tenis" id="tenis">
                <h2>Tenis</h2>
                <p>Descubre los torneos más importantes y haz tus apuestas.</p>
            </section>
        </a>

        <a href="/hipica" class="section-link">
            <section class="hipica" id="hipica">
                <h2>Hípica</h2>
                <p>Infórmate sobre las carreras de caballos y sus apuestas.</p>
            </section>
        </a>
    </main>

    <footer>
        <p>&copy; 2024 Blose. Todos los derechos reservados.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
