<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Blose</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="topnav">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de Blose" class="logo">
                <h1>Blose</h1>
            </div>
            <nav class="nav-links">
                <button class="nav-btn" onclick="window.location.href='/'">Inicio</button>
                <button class="nav-btn" onclick="window.location.href='/futbol'">Fútbol</button>
                <button class="nav-btn" onclick="window.location.href='/baloncesto'">Baloncesto</button>
                <button class="nav-btn" onclick="window.location.href='/tenis'">Tenis</button>
                <button class="nav-btn" onclick="window.location.href='/hipica'">Hípica</button>
            </nav>
            <div class="auth-buttons">
                {% if usuario %}
                    <!-- Mostrar información del usuario cuando ha iniciado sesión -->
                    <div class="user-menu">
                        <span class="user-name">Bienvenido, {{ usuario['username'] }} &#x25BC;</span> <!-- Unicode para flecha hacia abajo -->
                        <div class="user-dropdown">
                                <a href="/perfil">Mi Perfil</a>
                                <a href="/balance">Balance: {{ usuario['balance'] }}€</a>
                                <a href="/logout">Cerrar Sesión</a>
                        </div>
                    </div>

                {% else %}
                    <!-- Mostrar botones de inicio de sesión y registro si el usuario no está autenticado -->
                    <button onclick="window.location.href='/login'" class="auth-btn" id="login-btn">Iniciar Sesión</button>
                    <button onclick="window.location.href='/register'" class="auth-btn" id="register-btn">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container">
        <form action="/register" method="POST">
            <h2>Regístrate para comenzar a apostar</h2>
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="email" name="email" placeholder="Correo electrónico" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <div>
                <input type="checkbox" id="privacy_policy" name="privacy_policy" required>
                <label for="privacy_policy">I agree to the Privacy Policy</label>
            </div>
            <div>
                <input type="checkbox" id="age_confirmation" name="age_confirmation" required>
                <label for="age_confirmation">I confirm that I am over 18 years old</label>
            </div>
            <input type="submit" value="Registrar">
        </form>
        <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>
        <a href="/">Volver al inicio</a>
    </div>

    <footer>
        <p>&copy; 2024 Blose. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
