<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Apuestas de Tenis</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="topnav">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo de Blose" class="logo">
                <h1>Blose</h1>
            </div>
            <nav class="nav-links">
                <button class="nav-btn" onclick="window.location.href='/'">Inicio</button>
                <button class="nav-btn" onclick="window.location.href='/futbol'">Fútbol</button>
                <button class="nav-btn" onclick="window.location.href='/baloncesto'">Baloncesto</button>
                <button class="nav-btn" onclick="window.location.href='/tenis'">Tenis</button>
                <button class="nav-btn" onclick="window.location.href='/hipica'">Hípica</button>
            </nav>
            <div class="auth-buttons">
                {% if usuario %}
                    <!-- Mostrar información del usuario cuando ha iniciado sesión -->
                    <div class="user-menu">
                        <span class="user-name">Bienvenido, {{ usuario['username'] }} &#x25BC;</span> <!-- Unicode para flecha hacia abajo -->
                        <div class="user-dropdown">
                                <a href="/perfil">Mi Perfil</a>
                                <a href="/balance">Balance: {{ usuario['balance'] }}€</a>
                                <a href="/logout">Cerrar Sesión</a>
                        </div>
                    </div>

                {% else %}
                    <!-- Mostrar botones de inicio de sesión y registro si el usuario no está autenticado -->
                    <button onclick="window.location.href='/login'" class="auth-btn" id="login-btn">Iniciar Sesión</button>
                    <button onclick="window.location.href='/register'" class="auth-btn" id="register-btn">Registrarse</button>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="contenido">
        <div class="apuestas" id="apuestas">
            <h2>Apuestas ATP</h2>
            <!-- Partido 1 -->
            <div class="bet-container">
                <h3>Partido 1: Novak Djokovic - Carlos Alcaraz</h3>
                <p>¿Quién ganará el partido?</p>
                <button class="bet-option" onclick="enviarApuesta('Novak Djokovic - Carlos Alcaraz', 'Gana Djokovic')">Gana Djokovic</button>
                <button class="bet-option" onclick="enviarApuesta('Novak Djokovic - Carlos Alcaraz', 'Empate')">Empate</button>
                <button class="bet-option" onclick="enviarApuesta('Novak Djokovic - Carlos Alcaraz', 'Gana Alcaraz')">Gana Alcaraz</button>
            </div>

            <!-- Partido 2 -->
            <div class="bet-container">
                <h3>Partido 2: Daniil Medvedev - Stefanos Tsitsipas</h3>
                <p>¿Quién ganará el partido?</p>
                <button class="bet-option" onclick="enviarApuesta('Daniil Medvedev - Stefanos Tsitsipas', 'Gana Medvedev')">Gana Medvedev</button>
                <button class="bet-option" onclick="enviarApuesta('Daniil Medvedev - Stefanos Tsitsipas', 'Empate')">Empate</button>
                <button class="bet-option" onclick="enviarApuesta('Daniil Medvedev - Stefanos Tsitsipas', 'Gana Tsitsipas')">Gana Tsitsipas</button>
            </div>

            <!-- Partido 3 -->
            <div class="bet-container">
                <h3>Partido 3: Alexander Zverev - Andrey Rublev</h3>
                <p>¿Quién ganará el partido?</p>
                <button class="bet-option" onclick="enviarApuesta('Alexander Zverev - Andrey Rublev', 'Gana Zverev')">Gana Zverev</button>
                <button class="bet-option" onclick="enviarApuesta('Alexander Zverev - Andrey Rublev', 'Empate')">Empate</button>
                <button class="bet-option" onclick="enviarApuesta('Alexander Zverev - Andrey Rublev', 'Gana Rublev')">Gana Rublev</button>
            </div>
        </div>

        <div class="sidebar">
            <h2>Tus Apuestas</h2>
            <ul class="selected-bets" id="selectedBetsList"></ul>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>